{% extends 'layout.html' %}

{% block content %}
    <table class="styled-table">
        <tr>
            <th>Document</th>
            <th>Bigram</th>
            <th>Words</th>
        </tr>
        {% for document, bigrams_list in data.items()|sort  %}
            {% for bigrams_dict in bigrams_list |sort  %}
                {% for bigram, words in bigrams_dict.items()|sort  %}
                    <tr class="active-row">
                        <td >{{ document }}</td>
                        <td>{{ bigram }}</td>
                        <td>
                            <ol>
                                {% for word in words|sort  %}
                                    <li style="display: inline; margin-right: 10px;">{{ word }}</li>
                                {% endfor %}
                            </ol>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
    {% endblock %}